# This workflow will install Python dependencies, run tests on multiple machines and multiple python versions


name: python test Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
jobs:
  build:

    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [windows-latest]
        python-version: [3.7, 3.8, 3.9, 3.10]

    steps:
    - uses: actions/checkout@v3
    - name: Set up all python versions
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: pip install numpy pyvista gdspy matplotlib cycler
    - name: Install shapely
      run: pip install shapely==1.8

    
    - name: Test with unittest
      run: python -m unittest tests/test_all.py
